<h1>Listing forum_categories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forum_categories.each do |forum_category| %>
  <tr>
    <td><%= forum_category.title %></td>
    <td><%= forum_category.position %></td>
    <td><%= link_to 'Show', forum_category %></td>
    <td><%= link_to 'Edit', edit_forum_category_path(forum_category) %></td>
    <td><%= link_to 'Destroy', forum_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forum category', new_forum_category_path %>
