<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @project_membership.user_id %>
</p>

<p>
  <b>Projec idinteger:</b>
  <%= @project_membership.projec_idinteger %>
</p>

<p>
  <b>Role:</b>
  <%= @project_membership.role %>
</p>


<%= link_to 'Edit', edit_project_membership_path(@project_membership) %> |
<%= link_to 'Back', project_memberships_path %>
