<%= form_for(@project, :html => { :multipart => true }, :validate => true) do |f| %>

  <h3>Required information</h3>
  <div class="contentbox">
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <% if controller.action_name == "edit" %>
      <div>
        <%= check_box_tag :update_permalink, true, :checked => true %>
        <%= label_tag :update_permalink, "Update permalink?" %> <small>(Currently: /<span class="highlight"><%= @project.permalink %></span>)</small>
        <br /><br />
      </div>
    <% end %>
  </div>

  <h3>Optional information</h3>
  <div class="contentbox">
    <div class="field">
      <%= f.label :feature_image %><br />
      <%= f.file_field :feature_image %>
      <small>(613 &times; 613 max, 3 megabytes max, jpg or png)</small>
    </div>
    <br />
    <div class="inline-field">
      <%= f.label :x_coordinate, "X-Coordinate" %><br />
      <%= f.text_field :x_coordinate, :maxlength => 5 %>
    </div>
    <div class="inline-field">
      <%= f.label :y_coordinate, "Y-Coordinate" %><br />
      <%= f.text_field :y_coordinate, :maxlength => 5 %>
    </div>
    <div class="inline-field">
      <%= f.label :z_coordinate, "Z-Coordinate" %><br />
      <%= f.text_field :z_coordinate, :maxlength => 5 %>
    </div>
    <br class="break" /><br /><br /><br /><br />
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
  </div>

  <h3>Project settings</h3>
  <div class="contentbox">
    <div>
      <%= f.label :visible, "Visibility" %><br />
      <%= f.radio_button :visible, "true" %> Listed
      &nbsp;&nbsp;
      <%= f.radio_button :visible, "false" %> Unlisted
    </div>
    <br />
    <div>
      <%= f.label :invite_only, "Membership" %><br />
      <%= f.radio_button :invite_only, "false" %> Open
      &nbsp;&nbsp;
      <%= f.radio_button :invite_only, "true" %> Invite-only
    </div>
    <br />
    <div class="field">
      <%= f.label :status %><br />
      <%= f.select :status, options_for_select(Petyard::Application.config.project_statuses, @project.status) %>
    </div>
  </div>
  <div class="contentbox">
    <div class="actions">
      <%= f.submit %><br /><br />
      <p class="align-center"><%= link_to "Cancel", projects_path %></p>
    </div>
  </div>
<% end %>
