<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Image:</b>
  <%= @post.image %>
</p>

<p>
  <b>Mod message:</b>
  <%= @post.mod_message %>
</p>

<p>
  <b>Mod:</b>
  <%= @post.mod_id %>
</p>

<p>
  <b>Hidden:</b>
  <%= @post.hidden %>
</p>

<p>
  <b>Op:</b>
  <%= @post.op %>
</p>

<p>
  <b>User:</b>
  <%= @post.user_id %>
</p>

<p>
  <b>Topic:</b>
  <%= @post.topic_id %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
